.circle-img {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid red;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-circle-image {
    padding-top: 4px;
    font-family: "Arvo", serif;
    text-align: center;
    color: #fff;
}

.card {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    background-color: #111;
    padding: 24px 18px;
    box-shadow: 0 4px 24px rgba(255, 0, 0, 0.08);
    color: #fff;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    margin: 5px;
    display: flex;
    gap: 16px;
}

.card-body a {
    background: linear-gradient(90deg, #ff6b6b, #ff4d4d);
    border: none;
    padding-top: 8px;
    padding-inline: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.card-body a:hover {
    background: linear-gradient(90deg, #ff4d4d, #ff6b6b);
    border: rgb(255, 255, 255) 0.1px solid;
    transform: scale(1.1);
}

.iconsContact 
{
    transition: border  0.25s ease, color 0.25s ease;
    transition: transform 0.25s ease, color 0.25s ease;
    text-decoration: none;
    padding-top: 1px;
    font-size: 24px;
    color: #000000;
}

@media (max-width: 720px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        max-width: 95vw;
        padding: 16px 8px;
    }

    .circle-img {
        width: 180px;
        height: 180px;
    }
}