@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bokor&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');


.containerInicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textoInicio{
    color: white;
    text-align: center;
}

.parrafo{
    line-height: 60px;
    font-size: 70px;
    mask-image: linear-gradient(
        black 15px,
        transparent);
}

.parrafo_Abajo{
    margin-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 20px;
    border-top: 5px solid red;
    line-height: 60px;
    font-size: 30px;
    mask-image: linear-gradient(
        black 20px,
        transparent);
}
.spanText{
    padding-left: 40px;
    color: red;
    font-weight: bold;
}

.fotoMain{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    mask-image: linear-gradient(
        black 100px,
        transparent);
}