@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bokor&family=Comfortaa:wght@300..700&family=DM+Serif+Text:ital@0;1&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
    font-family: "Bokor", serif;
    font-optical-sizing: auto;
    font-style: normal;
}